body {
    background-color: #111111;
}

h3{
    color: #FFFFFF;
}

.btn-primary:hover{
    background-color: #4BBCE7;
}
.btn-primary {
    background-color:#00A0DC;

    color: #FFF;
}

.icons {
    margin: 3px
}
.iconos {
    display: flex;
    flex-direction: column;
}