body {
    background-color: #212121;
}

h3{
    color: #FFFFFF;
}


.btn-primary:hover{
    background-color: #4BBCE7;
}
.btn-primary {
    background-color:#00A0DC;

    color: #FFF;
}

.icons, button {
    margin: 0px 6px;
}
.iconos {
    display: flex;
    flex-direction: column;
}

.fa-square:hover{
    color:forestgreen;
}

.fa-trash-can:hover{
    color: red;
}
